<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The airbnb clone main page for find and rent places.">
		<meta name="theme-color" content="#FF5A5F">
		<title>AirBnB_clone</title>
		<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
		<link rel="stylesheet" href="../static/styles/103-common.css">
		<link rel="stylesheet" href="../static/styles/103-header.css">
		<link rel="stylesheet" href="../static/styles/103-footer.css">
		<link rel="stylesheet" href="../static/styles/103-filters.css">
		<link rel="stylesheet" href="../static/styles/103-places.css">
	</head>
<body>
	<header aria-label="AirBnB clone">
		<img class="logo" src="../static/images/logo.png" alt="AirBnB_clone_logo">
	</header>
	<div class="container" aria-label="Page content">
		<section class="filters" aria-label="Filter section">
			<div class="locations">
				<h3>States</h3>
				<h4>&nbsp;</h4>
				<ul class="popover" aria-label="Locations pop-up">
					{% for state in states.values()|sort(attribute='name') %}
					<li><h2>{{ state.name }}<h2></li>
						<ul>
						{% for city in state.cities|sort(attribute='name') %}
							<li><h4>{{ city.name }}<h4></li>
						{% endfor %}
						</ul>
					{% endfor %}
				</ul>
			</div>
			<div class="amenities">
				<h3>Amenities</h3>
				<h4>&nbsp;</h4>
				<ul class="popover" aria-label="Amenities pop-up">
					{% for amenity in amenities.values()|sort(attribute='name') %}
							<li><h4>{{ amenity.name }}<h4></li>
					{% endfor %}
				</ul>
			</div>
			<button>Search</button>
		</section>
		<section class="places" aria-label="Places section">
			<h1>Places</h1>
			<ul aria-label="Places list">
				{% for place in places.values() %}
				<li aria-label="A place article"><article><h2>{{ place.name }}</h2>
				<div class="price_by_night">
					${{ place.price_by_night }}
				</div>
				<div class="information" aria-label="The place informations">
					<div class="max_guest"><img class="icon" src="../static/images/icon_group.png" alt="icon_group" aria-hidden="true">{{ place.max_guest }} Guests</div>
					<div class="number_rooms"><img class="icon" src="../static/images/icon_bed.png" alt="icon_group" aria-hidden="true">{{ place.number_rooms }} Bedrooms</div>
					<div class="number_bathrooms"><img class="icon" src="../static/images/icon_bath.png" alt="icon_group" aria-hidden="true">{{ place.number_bathrooms }} Bathrooms</div>
				</div>
				<div class="user">
					<strong>Owner:</strong> {{ place.user.first_name }} {{ place.user.last_name }}
				</div>
				<div class="description" aria-label="The place description">{{ place.description|safe }}</div>
				<div class="amenities" aria-label="The place amenities">
					<h2>Amenities</h2>
					<ul>
						{% for amenity in place.amenities %}
						<li><img src="../static/images/icon_{{amenity.name}}.svg" alt="tv_icon" class="icon" aria-hidden="false"> {{amenity.name}}</li>
						{% endfor %}
					</ul>
				</div>	
				<div class="reviews" aria-label="The place reviews">
					<h2>Reviews</h2>
					<ul>
						{% for review in place.reviews %}
						<li><h3>From: {{ review.user.first_name }} {{ review.user.last_name }}</h3>
						<p>{{review.text|safe}}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
				</article></li>
				{% endfor %}
			</ul>
			
		</section>
	</div>
	<footer>Best School - Ashraf Atef</footer>
</body>
</html>
